{% extends "global/Page.html" %}
{% load otree %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("trade_attempted_").value = "{{ False }}";
      }
    </script>
{% endblock %}

{% block title %}
    Intercambio: Ronda {{ subsession.round_number }}
{% endblock %}

{% block content %}
    <p>
        En esta ronda, deberás considerar la siguiente información:
        <br>
        Perteneces al grupo {{ group_color }}.
        <br>
        {% if token_color != 'None' %}
        Tienes una ficha de color {{ token_color }}.
        <br>
        Eres un Comprador.
        <br>
        {% else %}
        Tienes un bien de consumo.
        <br>
        Eres un Vendedor.
        <br>
        {% endif %}

        Tu contraparte pertenece al grupo {{ other_group_color }}.
        <br>
        {% if other_token_color != 'None' %}
        Tu contraparte tiene una ficha de color {{ other_token_color }}.
        <br>
        Tu contraparte es un Comprador.
        <br>
        {% else %}
        Tu contraparte tiene un bien de consumo.
        <br>
        Tu contraparte es un Vendedor.
        <br>
        {% endif %}
    </p>
    {% if role_pre == other_role_pre %}
    <p>
        No puedes intercambiar con tu contraparte, pues ambos son
        {{ role_pre }}es.
    </p>
    <input type="hidden" name="trade_attempted" id="trade_attempted_"/>
    {% else %}
    <p>
        ¿Te gustaría intercambiar
        {% if token_color != 'None' %}
        tu ficha por el bien de consumo de tu contraparte?
        {% else %}
        tu bien de consumo por el token de tu contraparte?
        {% endif %}
    </p>
    {% formfield player.trade_attempted %}
    {% endif %}
    {% next_button %}

{% endblock %}