{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instrucciones
{% endblock %}

{% block content %}

    <p>
        Estás a punto de participar en un experimento económico. En adelante, deberás ser cuidadoso con las decisiones
        que tomes. Tus elecciones y las de los demás participantes del experimento determinarán tus ganancias. Por ello,
        es importante que te enfoques en entender las instrucciones.
        <br><br>
        Las ganancias serán proporcionales a los  puntos que acumules a lo largo del experimento. A su término, los
        puntos acumulados se transformarán en soles (S/) a la tasa de conversión 1 punto = S/ 0.03.  Las ganancias
        podrían ascender a S/ 50.00, dependiendo, principalmente, de tu desempeño. Los pagos se realizarán en efectivo
        al finalizar el experimento.
        <br><br>
        Es importante que no te comuniques, de ninguna manera, con los otros participantes del experimento.
        Si tienes preguntas o necesitas asistencia, por favor levanta la mano para que un experimentador te ayude.
        Cualquier violación a esta regla ocasionará que seas retirado del experimento y pierdas el derecho a recibir
        tu pago.
        <br><br>
        A continuación, presentaremos las instrucciones del juego.

    </p>

<p>
    <h3 align="center">Instrucciones generales: Sesión 1</h3>
    <br><br>
    La sesión consiste de 50 períodos. El número total de participantes es 4. En el primer período, todos los participantes
    serán asignados a uno de los siguientes grupos: Rojo. Los miembros del equipo Azul serán programados como bots. Los
    participantes permanecerán en el mismo grupo durante toda la sesión. El tamaño de cada grupo será de 4 participantes y
    estos se seleccionarán aleatoriamente.
    <br><br>
    El experimento consiste de un juego de intercambio. Hay tres objetos distintos
    que pueden ser intercambiados con otros participantes para acumular puntos: fichas rojas, fichas azules y un bien de
    consumo. Estos objetos difieren en los puntos que otorgan. Las fichas, independientemente de su color, otorgan 0 puntos.
    Sin embargo, los participantes ganan 20 puntos si reciben un bien de consumo de otro participante. Es decir, el bien de
    consumo genera ganancia de puntos solo si se obtiene como resultado de un intercambio.
    <br><br>
    En el primer período, 2 integrantes del grupo Rojo serán seleccionados aleatoriamente para recibir una ficha roja. Los
    2 integrantes restantes recibirán un bien de consumo. De manera análoga, 2 integrantes del grupo Azul serán
    seleccionados aleatoriamente para recibir una ficha azul. Los 2 integrantes restantes recibirán un bien de consumo. El
    bien de consumo es homogéneo en ambos grupos. Los participantes que posean una ficha asumirán el rol de compradores, y
    los que posean un bien de consumo asumirán el rol de vendedores.
</p>
<p>
    <b>Desarrollo del experimento</b>
    <br><br>
    Al inicio de cada período, se te recordará el grupo al que perteneces y el objeto que posees (ficha roja, ficha azul
    o bien de consumo). Luego, serás emparejado aleatoriamente con otro participante del experimento, que puede ser
    integrante del grupo Rojo o del grupo Azul. De la misma manera, tu contraparte puede ser comprador o vendedor.
    <br><br>
    El emparejamiento presentará una oportunidad de intercambio si la pareja está conformada por un comprador y un
    vendedor. En cualquier otro caso, el intercambio no será posible. En este sentido, no podrás intercambiar fichas,
    incluso si son de diferentes colores; ni bienes de consumo en la modalidad de trueque.
    <br><br>
    Asimismo, los bots están programados para solo aceptar transacciones en su moneda, la azul. Si te emparejas con un
    bot, este es un vendedor y tú un comprador con moneda roja, no va a aceptar el intercambio. En caso tuvieras una
    moneda azul, sí estaría dispuesto a aceptarlo. Cabe resaltar que todos los participantes empiezan con una dotación
    de 50 puntos.
</p>
<p>
    <b>Emparejamiento</b>
    <br><br>
    La tabla mostrada a continuación resume las probabilidades de emparejamiento que regirán en cada período de esta sesión.
    Tu grupo / El grupo de tu contraparte

    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
    .tg .tg-g7sd{font-weight:bold;border-color:inherit;text-align:left;vertical-align:middle}

    </style>
    <table class="tg">
      <tr>
        <th class="tg-g7sd"><br>&nbsp;&nbsp;Tu grupo / El grupo de tu<br>&nbsp;&nbsp;contraparte</th>
        <th class="tg-g7sd">Rojo</th>
        <th class="tg-g7sd">Azul</th>
      </tr>
      <tr>
        <td class="tg-g7sd">Rojo</td>
        <td class="tg-lboi">50%</td>
        <td class="tg-lboi">50%</td>
      </tr>
      <tr>
        <td class="tg-g7sd">Azul</td>
        <td class="tg-lboi">50%</td>
        <td class="tg-lboi">50%<br>&nbsp;&nbsp;</td>
      </tr>
    </table>
    <br><br>
    Tras el emparejamiento, se te proporcionará la siguiente información sobre tu contraparte: el grupo al que pertenece
    (Rojo o Azul) y el objeto que posee (ficha roja, ficha azul o bien de consumo). No recibirás información adicional
    sobre tu contraparte, ni se te brindarán resultados de rondas previas que involucren a otros participantes.
    <br><br>
    Intercambio
    <br><br>
    Tras el emparejamiento, sabrás si se te ha presentado una oportunidad de intercambio. De ser el caso, se te
    preguntará, de manera privada, si quieres intercambiar objetos con tu contraparte. Tendrás que seleccionar una de
    las siguientes opciones: “Sí” o “No”. Todos los intercambios serán de uno por uno, lo que implica que no puedes
    intercambiar fracciones de un objeto. Las respuestas serán reveladas simultáneamente después de que ambos
    integrantes de la pareja hayan seleccionado, de manera privada, sus respuestas. El intercambio ocurre, únicamente,
    si ambos manifestaron estar de acuerdo.
    <br><br>
    De no existir la oportunidad de intercambio, serás informado al respecto y deberás continuar hacia el siguiente
    período. Recuerda que la única manera de obtener puntos es adquiriendo un bien de consumo como resultado un
    intercambio exitoso, el cual puede tardar más de un período.
    <br><br>
    Resultados posibles en un período
    <br><br>
    Si el intercambio se concreta, el resultado será que:
    <ul>
        <li>20 puntos si recibes un bien de consumo de tu contraparte.</li>
        <li>Ganarás 0 puntos si recibes una ficha, roja o azul, de tu contraparte.</li>
        <li>En el siguiente período, tendrás el objeto inicial de tu contraparte, y viceversa.</li>
    </ul>

    <br><br>
    Si el intercambio no se concreta, ya sea porque no se llegó a un acuerdo mutuo o porque no se presentó
    la oportunidad, el resultado será que:
    <ul>
        <li>Ganarás 0 puntos, independientemente del objeto que vayas a almacenar.</li>
        <li>En el período siguiente, mantendrás el mismo objeto con el que empezaste el período actual.</li>
    </ul>
</p>
    {% next_button %}

{% endblock %}

