{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instrucciones
{% endblock %}

{% block content %}

    <p>
        Estás a punto de participar en un experimento económico. En adelante, deberás ser cuidadoso con las decisiones
        que tomes. Tus elecciones y las de los demás participantes del experimento determinarán tus ganancias. Por ello,
        es importante que te enfoques en entender las instrucciones.

        Las ganancias serán proporcionales a los  puntos que acumules a lo largo del experimento. A su término, los
        puntos acumulados se transformarán en soles (S/) a la tasa de conversión 1 punto = S/ 0.03.  Las ganancias
        podrían ascender a S/ 50.00, dependiendo, principalmente, de tu desempeño. Los pagos se realizarán en efectivo
        al finalizar el experimento.

        Es importante que no te comuniques, de ninguna manera, con los otros participantes del experimento.
        Si tienes preguntas o necesitas asistencia, por favor levanta la mano para que un experimentador te ayude.
        Cualquier violación a esta regla ocasionará que seas retirado del experimento y pierdas el derecho a recibir
        tu pago.

        A continuación, presentaremos las instrucciones del juego.

    </p>
    {% next_button %}

{% endblock %}

