{% extends "global/Page.html" %}
{% load otree %}
{% load staticfiles otree %}

{% block styles %}
<style>
table, th, td {
  border: 0px solid black;
  border-collapse: collapse;
  padding: 15px;
}
table.t2, th.t2, td.t2 {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
  width: 40px;
  text-align: center;
}
</style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("trade_attempted_").value = "{{ False }}";
      }
    </script>
{% endblock %}

{% block title %}
    Ronda {{ subsession.round_number }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3">
        <table>
            <tr>
            <td>
            <h5> Tú: </h5>
                <p>
                Grupo {{ group_color }}
                <br>
                {% if token_color != Constants.trade_good %}
                Posees objeto: <br> Ficha color {{ token_color }}
                <br>
                {% if token_color == Constants.red %}
                <img height="40%" width="40%" src="{% static "redCoin.png"%}"/>
                <br>
                {% endif %}
                {% if token_color == Constants.blue %}
                <img height="40%" width="40%" src="{% static "blueCoin.png"%}"/>
                <br> 
                {% endif %}
                {% else %}
                Posees objeto: <br> Bien de consumo
                <br>
                <img height="40%" width="40%" src="{% static "object.png"%}"/>
                <br>
                {% endif %}
            </p>
            </td>
            </tr>
            <tr>
            <td>
            <h5> Socio: </h5>
            <p>
                Grupo {{ other_group_color }}
                <br>
                {% if other_token_color != Constants.trade_good %}
                Posee objeto: <br> Ficha {{ other_token_color }}
                <br>
                {% if other_token_color == Constants.red %}
                <img height="40%" width="40%" src="{% static "redCoin.png"%}"/>
                <br>
                {% endif %}
                {% if other_token_color == Constants.blue %}
                <img height="40%" width="40%" src="{% static "blueCoin.png"%}"/>
                <br> 
                {% endif %}
                {% else %}
                Posee objeto: <br> Bien de consumo
                <br>
                <img height="40%" width="40%" src="{% static "object.png"%}"/>
                <br>
                {% endif %}
            </p>
            </td>
            </tr>
        </table>
        {% if role_pre == other_role_pre %}
        <p>
            No puedes intercambiar con tu socio, ya que los dos tienen el mismo objeto.
            <!--{{ role_pre }}.-->
        </p>
        <input type="hidden" name="trade_attempted" id="trade_attempted_"/>
        {% else %}
        <p>
            ¿Quieres intercambiar tu
            {% if token_color != Constants.trade_good %}
                {% if token_color == Constants.red %}
                    ficha roja
                {% elif token_color == Constants.blue %}
                    ficha azul
                {% endif %}
                a cambio del bien de consumo de tu compañero?
            {% else %}
            bien de consumo a cambio de la
                {% if other_token_color == Constants.red %}
                    ficha roja
                {% elif other_token_color == Constants.blue %}
                    ficha azul
                {% endif %}
            de tu socio?
            {% endif %}
        </p>
        {% formfield player.trade_attempted %}
        {% endif %}
        {% next_button %}
    </div>
    <div class="col-9">
        {% if subsession.round_number >= 1 %}

        <h5>Rondas anteriores</h5>

        <div class="row">
            <div class="col-8">
            </div>
            <div class="col-3   ">
                <p><b>Pago acumulado: {{ player.participant.payoff }}</b></p>
            </div>
        </div>

        <input type="hidden" name="trading"/>
        {{ form.trading.errors }}

        <table class = "t2">
            <tr class = "t2">
                <th class = "t2">Ronda</th>
                <th class = "t2">Tu Objeto</th>
                <th class = "t2">Objeto del Socio</th>
                <th class = "t2">Grupo del Socio</th>
                <th class = "t2">Intercambio Posible</th>
                <th class = "t2">Intento de Intercambio</th>
                <th class = "t2">Intercambio Exitoso</th>
                <th class = "t2">Pagos de la Ronda</th>
                {% if session.config.show_foreign_transactions %}
                <th class = "t2">Aceptación de la Ficha Azul en tu Grupo</th>
                {% endif %}
                {% if session.config.show_tax_paid %}
                <th class = "t2">Impuesto Pagado</th>
                {% endif %}
                {% if session.config.show_storage_cost_paid %}
                <th class = "t2">Costo Almacenar Ficha</th>
                {% endif %}
         
            </tr>
            {% for p in player.in_previous_rounds reversed %}
            <tr class = "t2">
                <td class = "t2">{{ p.round_number }}</td>
                <td class = "t2">{{ p.token_color }}</td>
                <td class = "t2">{{ p.other_token_color }}</td>
                <td class = "t2">{{ p.other_group_color}}</td>
                {% if p.role_pre == p.other_role_pre %}
                <td class = "t2">No</td>
                {% else %}
                <td class = "t2">Yes</td>
                {% endif %}
                {% if p.trade_attempted == True %}
                <td class = "t2">Yes</td>
                {% else %}
                <td class = "t2">No</td>
                {% endif %}
                {% if p.trade_succeeded == True %}
                <td class = "t2">Yes</td>
                {% else %}
                <td class = "t2">No</td>
                {% endif %}
                <td class = "t2">{{ p.payoff }}</td>
                {% if session.config.show_foreign_transactions %}
                <td class = "t2">{{ p.subsession.fc_transaction_percent }}%</td>
                {% endif %}
                {% if session.config.show_tax_paid %}
                <td class = "t2">{{ p.tax_paid }}</td>
                {% endif %}
                {% if session.config.show_storage_cost_paid %}
                <td class = "t2">{{ p.storage_cost_paid }}</td>
                {% endif %}
            </tr>
            {% endfor %}
                              
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}